@import "tailwindcss";

:root {
  --bess-red: #C8102E;
  --bess-gold: #D4AF37;
  --bess-charcoal: #2B2B2B;
  --bess-black: #000000;
  --bess-green: #1F5E3B;
  --bess-white: #FFFFFF;
}

@theme inline {
 --color-bess-red: var(--bess-red);
  --color-bess-gold: var(--bess-gold);
  --color-bess-charcoal: var(--bess-charcoal);
  --color-bess-black: var(--bess-black);
  --color-bess-green: var(--bess-green);
  --color-bess-white: var(--bess-white);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--bess-white);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
